@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
*{
  font-family: 'Montserrat', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body > div{
  width: 95%;
}
body {
  color: rgb(var(--foreground-rgb));
  background: url(../../public/wallpaperflare.com_wallpaper\ \(4\).jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;


  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  color: inherit;
  text-decoration: none;
}

