@font-face {
  font-family: 'Lobster';
  src: url('../../public/Lobster-Regular.ttf') format('truetype'); /* Substitua o caminho e o nome do arquivo conforme necessário */
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lexend';
  src: url('../../public/LexendDeca.ttf') format('truetype'); /* Substitua o caminho e o nome do arquivo conforme necessário */
  font-weight: normal;
  font-style: normal;
}

.main{
    --primary: #35a4b8;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
  }
  .main .containerBox{
    width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main .containerBox > .box1{
    width: 700px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0px 0px 10px 0px rgba(37, 35, 35, 0.904);
    margin-bottom: 30px;
  }
  .main .box2{
    height: auto;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
    align-items:center;
    background-color: white;
  }
  .boxTitulo{
    width: 100%;
    padding: 30px 10px 30px 10px;
    background-color: var(--primary);
    border-radius: 40px 40px 0 0;
    margin-bottom: 10px;
  }
  .boxTitulo h1{
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: 'Lobster', cursive;
  }
  .boxInputs1{
    width: 100%;
    display: grid;
    justify-content: center;
    padding-bottom: 20px;
  }
  .boxInputs2{
    width: 100%;
    padding-left: 49px;
    padding-right: 49px;
  }
  .boxInputs2 p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }
  .boxTotal div:nth-child(2){
    padding: 5px;
  }
  .boxTotal{
    width: 150px;
    height: auto;
    border: 1px solid rgba(37, 35, 35, 0.904);
    border-radius: 20px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 10px 0px var(--primary);
  }
  .boxTotal h1{
    color:white;
    background-color: var(--primary);
    font-weight: bold;
    font-size: 18px;
    border-radius: 19px 19px 0 0;
    
  }
  .boxTotal h2{
    color:black;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Lexend', cursive;
  }
  .boxTotal p{
    font-size:14px;
    color:black;
  }
  .sectionTotal{
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 5px;
    padding-left: 5px;
    display: flex;
    justify-content: center;
    gap: 10px;
  
  }
  .btnBox{
    width:100%;
    display: flex;
    justify-content: center;
    grid-column: span 3;
    padding-top: 20px;
  }
  .assinatura{
    position: fixed;
    right: 0;
    bottom: 0;
    padding-right: 5px;
  }
  .assinatura p{
    color: rgba(128, 128, 128, 0.336);
  }
  @media (max-width: 1000px){

  }
  @media (max-width: 500px){
    .main{
      width:100%;
      height: auto!important;
      flex-direction: column;
      border-radius: 0;
    }
    .main > div{
      border-radius: 0;
    }
    .boxTitulo{
      border-radius: 0;
    }
    .containerBox{
      width: 100%!important;
    }
    .box1{
        display: flex!important;
        flex-direction: column!important;
        width: 100%!important;
        border-radius: 0!important;
        height: auto!important;
    }
    .box1 > .boxTitulo{
        border-radius: 0;
    }
    .boxInputs1{
        width: 100%!important;
        height: auto!important;
        display: flex!important;
        flex-direction: column!important;
        align-items: center!important;
        padding-top: 10px!important;
        padding-bottom: 10px!important;
    }
    .box2{
        width: 100%!important;     
        border-radius: 0!important;
        display: flex!important;
        flex-direction: column!important;
    }
    .box2 > div{
      width: 80%;
    }
    .boxInputs2{
        width: 100%!important;
    }
    .boxInputs2 > div{
        width: 100%!important;
    }
    .containerBox{
        display: flex!important;
        flex-direction: column!important;
        justify-content: center;
        align-items: center;

    }
    .sectionTotal{
        width: 100%!important;
        display: flex!important;
        justify-content: start;
        position:fixed;
    }
    .btnBox{
      width: 100%;
      justify-content: flex-end;
    }
  }